body{
    background-color: #e7f6f0;
}
h1{
    color:white;
    text-shadow: #ff0404 1px 0 50px;
}
h2{
    border-bottom-style: solid ;
    border-color:rgba(255, 149, 0, 0.933); 
    margin-top: 70px;
}
p.kougi1{
    background:linear-gradient(0.25turn,#fe8282, white);
}
p.kougi2{
    background:linear-gradient(0.25turn,#fff050, white);
}
p.kougi3{
    background:linear-gradient(0.25turn,#a5ff50, white);
}